  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
		body {
			background-image: url("https://www.elal.com/media/i51mwuua/ela-7879_climber_mr-0417.jpg");
			background-size: cover;
		}
	</style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<form>
<section class="vh-100 gradient-custom">
    <div class="container py-0 h-30">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px; background-color:darkgrey;">
                    <div class="card-body p-4 p-md-5">
                     <div class="mb-4 pb-2 pb-md-0 mb-md-5" style="color: beige; text-align: center;font-size: 60px ;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Sign Up</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
                         <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
                        </svg>
                         <label style= "color:blue; font-size: 20px;"> EL</label>
                            <label style="color: rgb(126, 121, 121);font-size: 20px;"> AL  </label>
                              <label style="font-size: 20px;"> AIRLINES</labekl>

                    </div>
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                       <b> <label class="form-label" for="fullName">Full Name</label></b>
                                        <input type="text" id="fullName" class="form-control form-control-lg" />
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <b><label class="form-label" for="ID">ID</label></b>
                                        <input type="text" id="id" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                     <p> <b for="birthdayDate" class="form-label">Birthday</b></p>
                                        <input type="date" class="form-control form-control-lg" id="birthdayDate" />
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                   <p><b class="mb-2 pb-1">I am a: </b></p> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pilot"
                                               value="option1" checked />
                                        <label class="form-check-label" for="pilot">Pilot</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="admin"
                                               value="option2" />
                                        <label class="form-check-label" for="admin">Admin</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="client"
                                               value="option3" />
                                        <label class="form-check-label" for="client">Client</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                   <b><label class="form-label" for="emailAddress">Email</label></b>
                                        <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                       <b> <label class="form-label" for="phoneNumber">Phone Number</label></b>
                                        <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                    </div>

                                </div>
                            </div>

                            <div class="row">

                                    <div class="form-outline">
                                       <b> <label class="form-label" for="password">Password</label></b>
                                        <input type="password" id="password" class="form-control form-control-lg" />
                                    </div>
                            </div>

                            <div class="mt-4 pt-2" style="text-align: center;">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
</body>
</html>
<script>
    // form loading animation

   // const form = [...document.querySelector('.form').children];

    /*form.forEach((item, i) => {
        setTimeout(() => {
            item.style.opacity = 1;
        }, i*100);
    })

    window.onload = () => {
        if(sessionStorage.name){
            location.href = '/';
        }
    }*/

    // form validation

    //const name = document.querySelector('.name');
    //const email = document.querySelector('.email');
    //const password = document.querySelector('.password');
    //const id = document.querySelector('.id');
    //const date = document.querySelector('.date');
    const name = document.getElementById("fullName");
    const email = document.getElementById("emailAddress");
    const password = document.getElementById("password");
    const id = document.getElementById("id");
    const date = document.getElementById("birthdayDate");
    const phone = document.getElementById("phoneNumber");
    const pilot = document.getElementById("pilot");
    const admin = document.getElementById("admin");
    const client = document.getElementById("client");
    const submitBtn = document.querySelector('.btn-primary');

        submitBtn.addEventListener('click', () => {
            let isAdmin = false;
            if(admin.checked || pilot.checked) {
                isAdmin = true
            }
            console.log("date: " + date.value)
            fetch('/register', {
                method: 'post',
                headers: new Headers({'Content-Type': 'application/json'}),
                body: JSON.stringify({
                    name: name.value,
                    email: email.value,
                    id: id.value,
                    date: date.value,
                    phone: phone.value,
                    admin: isAdmin,
                    password: password.value
                })
            })
                .then(res => res.json())
                .then(data => {
                    validateData(data);
                })
        })


    const validateData = (data) => {
        if(!data.name){
            alertBox(data);
        } else{
            sessionStorage.name = data.name;
            sessionStorage.email = data.email;
            location.href = '/';
        }
    }

    const alertBox = (data) => {
        const alertContainer = document.querySelector('.alert-box');
        const alertMsg = document.querySelector('.alert');
        alertMsg.innerHTML = data;

        alertContainer.style.opacity = `100%`;
        setTimeout(() => {
            alertContainer.style.opacity = null;
        }, 3000);
    }
</script>

</body>
</html>