<header>
    <nav>
        <a href="/">FIFA</a>
        <ul>
            <li><a href="/players">Players</a></li>
            <li><a href="/players/new">New Player</a></li>
        </ul>
    </nav>
</header>