<!-- Content -->
<style>
    #sig-canvas {
        border: 2px dotted #CCCCCC;
        border-radius: 15px;
        cursor: crosshair;
        background: #b7dce1;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>E-signature</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="sig-canvas" width="400" height="160">
                your browser is older than Biden
            </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" id="sig-clearBtn" style="color: white">Clear Signature</button>
        </div>
    </div>
</div>
